@model IEnumerable<AutoServiceManager.Common.Model.Worker>
@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    44-123 Gliwice<br />
    ul. Siemianowicka 44<br />
    <abbr title="Telefon">Telefon: 425 555 0100</abbr>
</address>

<address>
    <strong>Sekretariat</strong>  <a href="mailto:sekretarka@example.com">Sekretarka@service.com</a><br />
</address>

<div>
    <h1>Nasi pracownicy</h1>
    <ul>
        @foreach (var worker in Model)
        {
            <li>@worker.FirstName @worker.SecondName</li>
        }
    </ul>
</div>