@model long

@{
    ViewBag.Title = "Zgłoszenie przyjęte";
}

<h2>Zgłoszenie przyjęte</h2>
<p>Twoje zgłoszenie zostało przyjęte. Otrzymało numer @Model</p>
<p>W najbliższym czasie skontaktujemy się z pańswem w celu uzgodnienia terminu przyjęcia do serwisu.</p>
