@model long

@{
    ViewBag.Title = "Zgłoszenie przyjęte";
}

<div ><h2>Zmiana została zaakceptowana</h2>
    <p>Zmieniłeś treść zgłoszenia o numerze @Model</p>
    <p>W najbliższym czasie skontaktujemy się z pańswem w celu uzgodnienia terminu przyjęcia do serwisu.</p></div>
